* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 1em;
    width: 100%;
    text-align: center;
}


.dropdown{
    margin: 1em 0;
    padding: 0.5em;
    font-size: 1.2em;

}
.dropdown option{
    word-wrap: break-word;
}


.flex {
    min-height: 66vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    margin: 1em;
    min-width: 200px;
  padding: 0.5em;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
}

.box.confirmed {
    background: #ffce63;
    border: 1px solid #ee9f0e;
  }
  .box.recovered {
    background: #a2ff55;
    border: 1px solid #0dec05;
}
.box.deaths {
    background: #ffa99a;
    border: 1px solid #e00825;
}

 
    
    @media screen and (min-width: 900px) {
        .flex{
            flex-wrap: nowrap;
        }
        .box {
            margin: 1em;
            padding: 2em;
            max-width: 300px;
            line-height: 1.5;
          font-size: 2rem;
        }
    }